
$primary:       #888888;
$secondary:     #666;
$success:       rgb(63, 175, 63);
$info:          #17a2b8;
$warning:       #ffc107;
$danger:        #ff4141;
$light:         #f8f9fa;
$dark:          #343a40;

$btn-border-radius: 3000px;

$link-hover-color: $success;

$font-family-sans-serif: 'Montserrat', sans-serif;

$dropdown-bg: rgba(240, 239, 238, 0.65);
$dropdown-border-radius: 0;
$navbar-light-hover-color:          $dark;
$navbar-light-active-color:         $success;
$navbar-light-disabled-color:       rgba($primary, .5);

@import "~bootstrap/scss/bootstrap";

.bg-light {
  background-color: #ffffff !important;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 0;
  }
}

.navbar-brand {
  font-weight: bold;
}